{% extends "base.html" %}
{% load static %}

{% block sb_admin_content %}
<body>
	<div class="card mb-3">
	    <div class="card-header"><h1><img src="{% static 'images/favicon.ico' %}" width="100" height="100">Your Inventory</h1></div>
	    <div class="card-body">
	        <div class="table-responsive">
	            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
	                <thead>
	                    <tr>
	                    <th>Name</th>
	                    <th>Donor</th>
						<th>Email</th>
	                    <th>City</th>
	                    <th>Description</th>
						<th>Status</th>
						{% if user.profile.isOwner %}
						<th>Interested</th>
						{% endif %}
	                    </tr>
	                </thead>
	              	<tbody>
	                  	{% for donation in donations %}
							{% if not user.profile.isOwner %}
		                    <tr>
		                    <td>{{ donation.name }}</td>
		                    <td>{{ donation.donor }}</td>
							<td>{{ donation.donor_email }}</td>
		                    <td>{{ donation.city }}</td>
		                    <td>{{ donation.text_description }}</td>
							<td>{{ donation.status }}</td>
							</tr>
			                {% else %}
							<tr>
		                    <td>{{ donation.name }}</td>
		                    <td>{{ donation.donor }}</td>
							<td>{{ donation.donor_email }}</td>
		                    <td>{{ donation.city }}</td>
		                    <td>{{ donation.text_description }}</td>
							<td>{{ donation.status }}</td>
							<td>{{ donation.owner_interest }} </td>
							<td> <a href="{% url 'oneDonation' donation.id %}">Edit Donation</a> </td>
							</tr>
		                    {% endif %}
	                    {% endfor %}
	                </tbody>
	            </table>
	        </div>
	    </div>
	    <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
	</div>

    {% block sb_admin_custom_js %}{% endblock sb_admin_custom_js %}
</body>

{% endblock sb_admin_content %}
