{% extends "base.html" %}
{% load static %}

{% block sb_admin_content %}

<h1 class="page-header">
  <img src="{% static 'images/favicon.ico' %}" width="100" height="100">
  Make a Donation!
</h1>
<div class="row">
  <h3>
    Send a donation ticket to a business! You can your donation tickets later in the "All Donations" tab.
  </h3>
</div>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <p>
      <h4>{{ field.label_tag }}</h4><br>
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}<br>
      {{ field }}<br><br>
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  <br>
  <button class="btn btn-primary btn-block" type="submit" style="width: 200px">Send Donation Ticket</button>
  <br>
  <br>
</form>

{% endblock sb_admin_content %}
