{% load static %}

<!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'css/small-business.css' %}" rel="stylesheet">

{% block sb_admin_content %}
<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'images/ru_logo-white.png' %}" width="45" height="45" style="position: relative;">
          Home
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">  
              <a class="nav-link" href="{% url 'viewBusiness' bid=business.id %}">< Back to {{ business.name }}
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<body class="bg-light">
<div class="card mx-auto my-5" style="width: 42%">
<h1 class="card-header">
  Make a Donation!
</h1>
    <div class="card-header bg-info">
        Send a donation ticket to {{ business.name }}! You can your donation tickets later in the "All Donations" tab.
      </div>
    <div class="card-body">
        <form role="form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label><b>Name</b></label><br>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label><b>Description</b></label><br>
                {{ form.text_description }}
            </div>
            <div class="form-group">
                <label><b>Quantity</b></label>
                <p class="help-block">Number of Items</p>
                {{ form.quantity }}
            </div>
            <div class="form-group">
                <label><b>Link Images</b></label>
                <p class="help-block">Link to Images of Item (use a different site)</p>
                {{ form.img_link }}
            </div>
            <div class="form-group">
                <label><b>City</b></label>
                <p class="help-block">What city is this item located in?</p>
                {{ form.city }}
            </div>
            <div class="form-group">
                <label><b>Contact Email</b></label>
                <p class="help-block">How can this business contact you?</p>
                {{ form.donor_email }}
            </div>
            <div class="form-group">
                <label><b>Needs Pickup</b></label>
                <p class="help-block">Does this business need to pickup the item?</p>
                {{ form.needs_pickup }}
            </div>

            <button class="btn btn-primary btn-block" type="submit" style="width: 200px">Send Donation Ticket</button>
        </form>
    </div>
</div>
</body>
<!--
<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <p>
      <h4>{{ field.label_tag }}</h4><br>
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}<br>
      {{ field }}<br><br>
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  <br>
  <button class="btn btn-primary btn-block" type="submit" style="width: 200px">Send Donation Ticket</button>
  <br>
  <br>
</form>
-->
{% endblock sb_admin_content %}
