{% extends "base.html" %}
{% load static %}

{% block sb_admin_content %}

<h1 class="page-header">
    <img src="{% static 'images/favicon.ico' %}" width="100" height="100">
    Create an Offer
</h1>
<div class="panel panel-primary">
    <div class="panel-heading">
        Create an Offer to be held in Inventory at {{ business.name }}.
    </div>
    <div class="panel-body">
        <form role="form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Name</label><br>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label>Quantity</label><br>
                {{ form.quantity }}
            </div>
            <div class="form-group">
                <label>Price</label><br>
                {{ form.price }}
            </div>
            <div class="form-group">
                <label>Location</label>
                <p class="help-block">In-house location of item (Only visible to Owners)</p>
                {{ form.location }}
            </div>
            <div class="form-group">
                <label>Description</label><br>
                {{ form.text_description }}
            </div>
            <div class="form-group">
                <label>Image Link</label>
                <p class="help-block">Link to Images of Item (use a different site)</p>
                {{ form.img_link }}
            </div>
            <div class="form-group">
                <label>Keep Private</label>
                <p class="help-block">Hide Item from public listing</p>
                {{ form.private }}
            </div>
            <div class="form-group">
                <label>Tags</label>
                <p class="help-block">Put searchable tags on the item</p>
                {{ form.tag_pile }}
            </div>
            <div class="form-group">
                <label>Category</label>
                <p class="help-block">Put the item into a Category to see other items of similar types</p>
                {{ form.category }}
            </div>
            <button class="btn btn-primary btn-block" type="submit">Submit</button>
        </form>
    </div>
</div>

{% endblock sb_admin_content %}
