{% load static %}
<!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{% static 'css/small-business.css' %}" rel="stylesheet">
<link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

<script src="{% static 'js/jquery.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>

{% block sb_admin_content %}

<body>
  <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'images/ru_logo-white.png' %}" width="45" height="45" style="position: relative;">
          Home
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'viewBusiness' bid=business.id %}"><b>{{ business.name }}</b>
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              {% if user in owner_group %}
                <a class="nav-link" href="{% url 'inventory' bid=business.id %}">Inventory</a>
              {% else %}
                  <a class="nav-link" href="{% url 'viewOffer' bid=business.id %}">Offers</a>
              {% endif %}
            </li>
            <li class="nav-item">
              {% if user in owner_group %}
                <a class="nav-link" href="{% url 'allDonations' bid=business.id %}">Donations</a>
              {% else %}
                <a class="nav-link" href="{% url 'newDonation' bid=business.id %}">Donate</a>
              {% endif %}
            </li>
            <li class="nav-item">
              {% if user in owner_group %}
                <a class="nav-link" href="{% url 'allRequests' bid=business.id %}">Requests</a>
              {% else %}
                <a class="nav-link" href="{% url 'newRequest' bid=business.id %}">Request Item</a>
              {% endif %}
            </li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'alerts' bid=business.id %}"><i class="fa fa-bell mt-1"></i></a>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  <div class="container">

      <!-- Heading Row -->
      <div class="row mt-5 mb-2">
        <div class="col-lg-8 mx-auto">
          <h1>
            {% if user in owner_group %}
              Your Offers:
            {% else %}
              Available Offers:
            {% endif %}
          </h1>
        </div>
        <div class="col-lg-4">
          {% if user in owner_group %}
          <div class="btn-group pull-right" role="group">
            <a href="{% url 'inventory' bid=business.id %}" class="btn btn-outline-secondary pull-right"><h4>Inventory</h4></a>
            <a href="{% url 'newOffer' bid=business.id %}" class="btn btn-outline-secondary pull-right"><h4>New Item</h4></a>
          </div>
          {% endif %}
        </div>
      </div>

      <div class="card">
            <div class="card-body">

              <form id="searchform" action="." method="post" accept-charset="utf-8">
                <div class="input-group mb-3 col-lg-5">
                  {% csrf_token %}
                  <input type="text" id="searchbox" name="q" class="form-control searchfield" placeholder="Search Item Tags...">
                  <div class="input-group-append">
                    <button class="btn btn-outline-primary searchbutton" type="button">Search</button>
                  </div>
                </div>
              </form>

    {% if user in owner_group %}
        <div class="table-responsive">
          <table class="table table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
              <th style="width: 3%"></th>
              <th style="width: 13%">Name</th>
              <th style="width: 10%">Quantity</th>
              <th style="width: 10%">Price</th>
              <th style="width: 15%">Location</th>
              <th style="width: 40%">Description</th>
              <th style="width: 15%"></th>
              </tr>
              </thead>
            <tbody>
              {% for off in offers_list %}
                {% if off.private == False %}
                  <tr>
                  <td><div data-toggle="modal" data-target="#{{ off.id }}"><button class="btn btn-outline-secondary" style="width:100%; height:100%" data-toggle="tooltip" data-placement="bottom" title="Expand">
                  <i class="fa fa-fw fa-expand" style="font-size:15px">
                  </i></button></div></td>
                  <td>{{ off.name.title }}
                    <br>
                    <div class= "small text-muted">{{ off.date }}</div>
                  </td>
                  <td>{{ off.quantity }}</td>
                  <td>${{ off.price }}</td>
                  <td>{{ off.location.name }}</td>
                  <td>{{ off.text_description }}</td>
                  {% if user in owner_group %}
                  <td>
                  <div class="btn-group">
                    <a class="btn btn-primary" href="{% url 'editOffer' bid=business.id slug=off.id %}" role="button" data-toggle="tooltip" data-placement="bottom" title="Edit">
                 	  <i class="fa fa-fw fa-edit" style="color:white; font-size:15px"></i></a>
                    <a class="btn btn-info" href="{% url 'showHideOffer' bid=business.id slug=off.id %}" role="button" data-toggle="tooltip" data-placement="bottom" title="Remove from Offers">
                    <i class="fa fa-fw fa-minus-square" style="color:white; font-size:15px"></i></a>
                  </div>
                  </td>
                  {% else %}
                    <td>
                    <a class="btn btn-primary" href="{% url 'interestedOffer' bid=business.id slug=off.id %}" role="button" data-toggle="tooltip" data-placement="bottom" title="Show interest">
                    <i class="fa fa-fw fa-check" style="color:white; font-size:15px"></i>
                    </a>
                    </td>
                    </tr>
                  {% endif %}
                {% endif %}
              <!--Image popup code -->
                <div class="modal fade" id="{{ off.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel"><b>{{ off.name.title }}</b></h3>
                      </div>
                      <div class="modal-body">
                          <img class ="img-rounded" style="width: 100%" src={{ off.img_link }} alt=""/>
                        	<div class="media">
                            <div class="media-left">
                            	<h6><b> Tags: </b></h6>
                            </div>
                            <div class="media-body">
                            	{% for tag in off.tag_pile.all %}
                                <button class="btn btn-sm" type="button" data-dismiss="modal">{{ tag }}</button>
                            	{% endfor %}
                            </div>
                        </div>

                        <hr>

                        <div class="media">
                            <div class="media-body" style="width: 75%">
                            	<b>Description: </b>
                        			{{ off.text_description }}
                            </div>
                            <div class="media-right" style="width: 25%">
                            	<b>Price: </b>${{ off.price }}
                            	<br><br>
                            	<b>Quantity: </b>{{ off.quantity }}
                            </div>
                        </div>
                      </div>

                      <div class="modal-footer">
                        {% if user in owner_group %}
                          <div class="btn-group">
                          <a class="btn btn-primary" href="{% url 'editOffer' bid=business.id slug=off.id %}" role="button" data-toggle="tooltip" data-placement="bottom" title="Edit">
                          <i class="fa fa-fw fa-edit" style="color:white; font-size:15px"></i></a>
                          <a class="btn btn-primary" href="{% url 'showHideOffer' bid=business.id slug=off.id %}" role="button" data-toggle="tooltip" data-placement="bottom" title="Remove from Offers">
                          <i class="fa fa-fw fa-minus-square" style="color:white; font-size:15px"></i></a>
                          </div>
  	                    {% else %}
                          <button class="btn btn-secondary" type="button" data-dismiss="modal"><i class="fa fa-fw fa-check-square" style="color:white; font-size:15px"></i></button>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% else %}
    <hr>
    <div class="row">
      {% for off in offers_list %}
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <a data-toggle="modal" data-target="#{{ off.id }}" class="btn btn-outline-light mx-auto">
          <img class="mt-2 mb-1 mx-2" src={{ off.img_link }} style="border: 1px solid lightgray; border-radius: 6px; background-color: white; width:150px; height:165px" title={{ off.name.title }}>
          <h6>{{ off.name.title }}  -  ${{ off.price }}</h6>
        </a><br>
      </div>

      {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row">
      {% endif %}
        <div class="modal fade" id="{{ off.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel"><b>{{ off.name.title }}</b></h3>
              </div>
              <div class="modal-body">
                  <img class ="img-rounded" style="width: 100%" src={{ off.img_link }} alt=""/>
                  <div class="media">
                    <div class="media-left mt-2">
                      <h6><b> Tags: </b></h6>
                    </div>
                    &nbsp;
                    <div class="media-body mt-1">
                      {% for tag in off.tag_pile.all %}
                        <button class="btn btn-sm" type="button" data-dismiss="modal">{{ tag }}</button>
                      {% endfor %}
                    </div>
                </div>

                <hr>

                <div class="media">
                    <div class="media-body" style="width: 75%">
                      <b>Description: </b>
                      {{ off.text_description }}
                    </div>
                    <div class="media-right" style="width: 25%">
                      <b>Price: </b>${{ off.price }}
                      <br><br>
                      <b>Quantity: </b>{{ off.quantity }}
                    </div>
                </div>
              </div>

              <div class="modal-footer">
                {% if user in business.group %}
                  <div class="btn-group">
                  <a class="btn btn-primary" href="{% url 'editOffer' bid=business.id slug=off.id %}" role="button" data-toggle="tooltip" data-placement="bottom" title="Edit">
                  <i class="fa fa-fw fa-edit" style="color:white; font-size:15px"></i></a>
                  <a class="btn btn-primary" href="{% url 'showHideOffer' bid=business.id slug=off.id %}" role="button" data-toggle="tooltip" data-placement="bottom" title="Remove from Offers">
                  <i class="fa fa-fw fa-minus-square" style="color:white; font-size:15px"></i></a>
                  </div>
                {% else %}
                  <button class="btn btn-secondary" type="button" data-dismiss="modal"><i class="fa fa-fw fa-check-square" style="color:white; font-size:15px"></i></button>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% endif %}
    <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
  </div>

  {% block sb_admin_custom_js %}{% endblock sb_admin_custom_js %}

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>


</body>
{% endblock sb_admin_content %}
