{% load static %}
{% load easy_maps_tags %}

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Resourceful Upcyclers</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/small-business.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'images/ru_logo-white.png' %}" width="45" height="45" style="position: relative;">
          Home
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">  
              <a class="nav-link" href="{% url 'viewBusiness' bid=business.id %}">{{ business.name }}
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
            	{% if user in owner_group %}
            		<a class="nav-link" href="{% url 'inventory' bid=business.id %}">Inventory</a>
            	{% else %}
              		<a class="nav-link" href="{% url 'viewOffer' bid=business.id %}">Offers</a>
            	{% endif %}
            </li>
            <li class="nav-item">
            	{% if user in owner_group %}
            		<a class="nav-link" href="{% url 'newDonation' bid=business.id %}">Donations</a>
            	{% else %}
            		<a class="nav-link" href="{% url 'newDonation' bid=business.id %}">Donate</a>
            	{% endif %}
            </li>
            <li class="nav-item">
            	{% if user in owner_group %}
            		<a class="nav-link" href="">Requests</a>
            	{% else %}
            		<a class="nav-link" href="">Request Item</a>
            	{% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Heading Row -->
      <div class="row my-4">
        <div class="col-lg-7">
          <img class="img-fluid rounded" src="{{ business.icon }}" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
          <h1>{{ business.name }}</h1>
          <p>{{ business.description }}</p>
          <hr>
          <p><b>Phone:</b> 1-800-123-456</p>
          {% for owner in owner_group %}
            <b>Email:</b> {{ owner.email }}<br><br>
          {% endfor %}
          <p><b>Address:</b> {{ business.address }}</p>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      {% if user in owner_group %}
      <!-- Content Row -->
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
            	<div class="row">
            		<div class="col-md-7 mb-1">
              			<h2 class="card-title">Manage Inventory</h2>
              		</div>	
              		<div class="col-md-5 mb-1 mt-1">
              			<div class="btn-group text-center" role="group">
              				<a href="{% url 'inventory' bid=business.id %}" class="btn btn-primary pull-right">Inventory</a>
              				<a href="{% url 'viewOffer' bid=business.id %}" class="btn btn-primary pull-right">Offers</a>
              			</div>
              		</div>
              	</div>

              <p class="card-text">
              		    <p>Upload a .csv file to add your inventory automatically into our system. 
              			Be sure to format your .csv file correctly. Click the export button below for an example.</p>

              			<p style="color: red; font-size: 12px">*Note: Uploading a .csv will clear all of the current inventory*</p>
            	    <form action="{% url 'viewBusiness' bid=business.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            	    	<div class="input-group mb-3">
							<input class="form-control" type="file" name="csv_file" placeholder="No file selected">
							<div class="input-group-append">
							    <input class="btn btn-outline-primary" type="submit" value="Upload">
							</div>
						</div>

						<a class="btn btn-outline-primary" href="{% url 'exportInventory' bid=business.id %}" role="button" data-toggle="tooltip" data-placement="bottom" title="Export Inventory to CSV" style="width: 100%"><i class="fa fa-fw fa-download" style="color:white; font-size:15px"></i>Export Inventory to CSV</a>
					</form>

              </p>

            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
            	<div class="row">
            		<div class="col-md-7 mb-1">
              			<h2 class="card-title">Donations</h2>
              		</div>
              		<div class="col-md-5 mb-1 mt-1">
              			<a href="{% url 'newDonation' bid=business.id %}" class="btn btn-primary">Donations</a>
              		</div>
              	</div>
              <p class="card-text">Recent Donations:</p>
              <hr>
              <div class="row">
            		<div class="col-md-7 mb-1">
              			<h2 class="card-title">Requests</h2>
              		</div>
              		<div class="col-md-5 mb-1 mt-1">
              			<a href="" class="btn btn-primary pull-right">Requests</a>
              		</div>
              	</div>
              <p class="card-text">Recent Requests:</p>
            </div>
          </div>
        </div>
      </div>

      {% else %}
      <!-- Content Row -->
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Search for Items</h2>
              <p class="card-text">
                  {% for item in offers_list %}
                    <a href="offers"><img src={{ item.img_link }} style="width:130px; height:145px" title={{ item.name.title }}></a>  {{ item.name.title }}  -  ${{ item.price }}<br>
                  {% endfor %}
              </p>
            </div>
            <div class="card-footer">
              <a href="{% url 'viewOffer' bid=business.id %}" class="btn btn-primary">Search</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Donate</h2>
              <p class="card-text">Here is our donation page. Send us a message detailing what you want 
              to donate, and we'll get back to you as soon as possible.</p>
            </div>
            <div class="card-footer">
              <a href="{% url 'newDonation' bid=business.id %}" class="btn btn-primary">Donations</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Our Location</h2>
              <p class="card-text">  {% easy_map business.address 300 300 %} </p>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->

      </div>

      {% endif %}
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Resourceful Upcyclers 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>

  </body>

</html>
