{% load static %}<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block sb_admin_description %}{% endblock sb_admin_description %}">
  <meta name="author" content="{% block sb_admin_author %}{% endblock %}">
  <title>{% block title %}Resourceful Upcyclers | Sign Up{% endblock %}</title>

  <!-- Bootstrap Core CSS -->
  <link type="text/css" href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link type="text/css" href="{% static 'css/landing-page.css' %}" rel="stylesheet">

  <!-- Custom Fonts -->
  {% block sb_admin_fonts_css %}<link href="{% static "font-awesome/css/font-awesome.min.css"%}" rel="stylesheet" type="text/css">{% endblock sb_admin_fonts_css %}

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  {% block sb_admin_custom_css %}{% endblock sb_admin_custom_css %}

</head>

<body class="bg-dark">
  <div class="container text-center bg-light mt-5" style="width: 400px; border-radius: 5px">
<div class="row">
    <div class="mx-auto mt-3">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h1>
            <img src="{% static 'images/favicon.ico' %}" width="75" height="75">
            <b>Log In</b></h1>
        </div>
        <div class="panel-body">
          <form method="post">
            <div class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            </div>
            <div class="form-group">
            <button class="btn btn-primary btn-block mx-auto" type="submit">Login</button>
            </div>
            </form>
            <div class= "small text-muted text-center">
              Don't have an account?
            </div>
            <div class= "small text-muted text-center">
              <a href="{% url "signup_customer" %}">Sign Up as a Customer</a>
            </div>
            <div class= "small text-muted text-center mb-3">
              <a href="{% url "signup_owner" %}">Sign Up as a Business Owner</a>
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- jQuery -->
  <script src="{% static "js/jquery.js"%}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{% static "js/bootstrap.min.js"%}"></script>

  {% block sb_admin_custom_js %}{% endblock sb_admin_custom_js %}
</body>

</html>
