{% extends "base.html" %}
{% load static %}

{% block sb_admin_content %}
  <!-- Header-->
  <h1 class="page-header">
    <img src="{% static 'images/favicon.ico' %}" width="100" height="100">
    Welcome to Resourceful Upcyclers
  </h1>

  <!-- Content -->
  <div class="row">

    <h2 class="page-header">Who are we?</h2>
    <h3>We give surplus stores an online presence.</h3>
    <p>Often surplus stores don't have the IT infrastructure to support their own website. 
      Our service gives these stores an online precence, which can often increase business on it's own. </p>
	
    <h3>We connect potential customers with business owners.</h3>
    <p>Trying to make a trip to the surplus office but can't find time in your busy schedule? 
      Taking time off can be difficult, and if there aren't any useful products, that time can be wasted.
      Instead, we give customers the option to browse invontory online.</p>
		
    <h3>We make business a conversation.</h3>
    <p>Did you miss the deal on that perfect office chair? Put in a request to the surplus office and be automatically notified of new arrivals.</p>
    <p>Are your closets overflowing with office supplies? Offer to donate to a store. Even arrange for pickup.</p>

    <h3>We give Non-Profits an option to lower their administrative costs.</h3>
    <p>Local non-profits can use our service to find surplused office supplies and significantly cut down on their supply costs.
      They can then take the savings and put them towards their cause.</p>

  </div>
{% endblock sb_admin_content %}